.grid {
  /* margin: 100px 0 0; */
  margin: 100px;
  text-align: center;
}

.cool-button {
  margin-block: 0px;
  position: relative;
  top: 40px;
  margin-left: 25px;
}

body {
  text-align: center;
}
