.walls-used {
  width: 200px;
  margin: 0px;
  position: fixed;
  top: 30px;
  left: 1240px;
}

.level-name {
  padding-right: 0.9%;
  padding-left: 1%;
  margin: 0px;
  position: fixed;
  top: 30px;
  left: 45px;
}

.walls-random-used {
  width: 200px;
  margin: 0px;
  position: fixed;
  top: 30px;
  left: 1000px;
}

.cool-text-bar {
  background-color: #cc7788;
  opacity: 0.8;
  font-size: 2rem;
  border-radius: 9px;
  color: #fff;
  width: auto;
  padding: 2rem;
  margin: 0px;
  text-align: center;
  transition: all 0.75s;
}

.grid {
  /* margin: 100px 0 0; */
  margin: 100px;
  text-align: center;
}

.cool-button {
  position: relative;
  top: -45px;
  right: 105px;
  margin-left: 17px;
}

body {
  text-align: center;
}

.text-info {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  /* width: 20px; */
  /* padding: 2rem; */
  text-align: center;
  transition: all 0.75s;
}

.toggle-permanent-holder {
  width: 200px;
  position: relative;
  top: -76px;
  margin: -2.4px;
  left: 1000px;
}
