.grid {
  position: absolute;
  left: 0px;
  top: 70px;
}

body {
  text-align: center;
}

.toggle-permanent-holder {
  position: absolute;
  top: 10px;
  left: 0px;
  opacity: 80%;
  z-index: 1;
}

.text-info {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  transition: all 0.75s;
  margin: 0px;
}

.toggle {
  font-family: QTYPE;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 120px;
  z-index: 5;
  align-items: center;
  background: #f8f8f8;
  border-radius: 2em;
  padding: 0.5em 0em 0.5em 0.5em;
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.5) inset,
    0 0 10px rgba(100, 100, 100, 0.1) inset;
  text-shadow: 0 2px 2px #fff;
  border-radius: 100px;
  display: flex;
  font-weight: 700;
  margin-bottom: 16px;
}
.toggle:last-of-type {
  z-index: 5;
  margin: 0;
}
.toggle__input {
  z-index: 6;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.toggle__input:not([disabled]):active + .toggle-track,
.toggle__input:not([disabled]):focus + .toggle-track {
  z-index: 5;
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #121943;
}

.toggle-track {
  z-index: 6;
  background: #e5efe9;
  border: 1px solid #5a72b5;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: 30px;
  margin-right: 12px;
  position: relative;
  width: 60px;
}
.toggle-indicator {
  z-index: 5;
  align-items: center;
  background: #121943;
  border-radius: 24px;
  bottom: 2px;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 2px;
  outline: solid 2px transparent;
  position: absolute;
  transition: 0.25s;
  width: 24px;
}
.checkMark {
  z-index: 5;
  fill: #fff;
  height: 20px;
  width: 20px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.toggle__input:checked + .toggle-track .toggle-indicator {
  z-index: 5;
  background: #121943;
  transform: translateX(30px);
}
.toggle__input:checked + .toggle-track .toggle-indicator .checkMark {
  z-index: 5;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}
@media screen and (-ms-high-contrast: active) {
  .toggle-track {
    z-index: 5;
    border-radius: 0;
  }
}

.random-wall-button {
  position: absolute;
  display: inline-block;
  margin: 20px;
  top: 0;
  left: 200px;
  z-index: 3;
}

.testing-button {
  margin: 0px;
  position: fixed;
  /* position: absolute;
  display: inline-block; */
  /* margin: 20px; */
  top: 0;
  left: 300px;
  z-index: 3;
}

.home-button {
  position: absolute;
  display: inline-block;
  margin: 20px;
  top: 0;
  left: 400px;
  z-index: 3;
}

.plane {
  z-index: 3;
  position: absolute;
  top: 150px;
  /* -70  -300*/
  left: -450px;
  transform: rotate(90deg);
}

.optionsMenuButton {
  font-family: QTYPEBOLD;
  font-size: 40px;
  position: absolute;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  text-shadow: 0px 1px 2px #000000;
  opacity: 100%;
  /* color: rgb(124, 124, 120); */
  /* color: rgb(203, 203, 203); */
  color: rgb(180, 180, 180);
}

.optionsMenuButton:hover {
  color: rgb(216, 216, 216);
}
