.nodeOutline {
  width: 25.1px;
  height: 25px;
  /* outline: 1px solid rgb(175, 216, 248); */
  outline: 1.3px solid rgb(58, 56, 56);
  display: inline-block;
  text-align: center;
  user-select: none;
}

.nodeNoOutline {
  width: 25.1px;
  height: 25px;
  /* outline: 1px solid rgb(175, 216, 248); */
  display: inline-block;
  text-align: center;
  user-select: none;
}

.node-end {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-wall {
  /* background-color: #5e85ab; */
  background-color: rgb(0, 0, 0);
}

.node-permanent-wall {
  background-color: rgb(38, 115, 148);
}

.node-clickable-toggled {
  margin: 0px;
  background-color: rgb(38, 115, 148);
}

.node-ended-head {
  margin: 0px;
  background-color: rgb(38, 115, 148);
}

.node-ended-body {
  margin: 0px;
  background-color: rgb(175, 216, 248);
}

.node-clickable {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  text-align: center;
  user-select: none;
}

.node-error {
  animation-name: visited;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0.1;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-error-other {
  animation-name: error-other;
  animation-duration: 1;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-visited {
  animation-name: visited;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-text {
  background-color: darkred;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
  /* background-color: rgb(255, 0, 255); */
}

@keyframes shortestPath {
  0% {
    /* transform: scale(1.2); */
    background-color: rgb(190, 187, 238);
  }

  50% {
    /* transform: scale(1.2); */
    background-color: rgb(30, 172, 177);
  }

  100% {
    /* transform: scale(1); */
    background-color: rgb(15, 204, 9);
  }
}

@keyframes visited {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    /* background-color: rgb(190, 58, 58); */
    background-color: rgb(175, 52, 30);
    left: 0px;
    top: 0px;
  }
}

@keyframes error-other {
  0% {
    background-color: rgb(148, 170, 214);
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: rgb(73, 103, 188);
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: rgb(68, 68, 144);
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: rgb(25, 66, 110);
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: rgb(32, 65, 112);
    left: 0px;
    top: 0px;
  }
}
