.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  text-align: center;
}

.node-end {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-wall {
  background-color: rgb(14, 55, 73);
}

.node-visited {
  background-color: rgb(143, 223, 243);
}

.node-shortest-path {
  background-color: rgb(255, 0, 255);
}
