/* ---------- LIGHT EFFECT -------------- */

.mainBodyHome {
  /* background: rgb(34, 33, 33); */
  background: radial-gradient(rgb(97, 92, 92), rgb(8, 8, 8));
  justify-content: center;
  /* align-self: auto; */
  align-items: center;
  display: flex;
  min-height: 98vh;
}

.bulb {
  width: 80px;
  /* left: 16.3vh; */
  left: calc(755%);
  /* position: absolute; */
  position: relative;
  background: rgb(75, 72, 72);
  border-radius: 50%;
  height: 80px;
  background: #fff;
  top: -21vh;
  box-shadow: 0 0 50px #fff, 0 0 100px #fff, 0 0 150px #fff, 0 0 200px #fff,
    0 0 250px #fff, 0 0 300px #fff, 0 0 350px #fff;
}

.bulb::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 22.5px;
  width: 35px;
  height: 80px;
  background: #444;
  border-top: 30px solid #000;
  border-radius: 10px;
}

.mainBodyHome .bulb::before {
  background: #fff;
}

.mainBodyHome .bulb::after {
  position: absolute;
  /* position: fixed; */
  height: 120px;
  border-radius: 50%;
  /* top: -10vh;
  left: 18.8vh; */
  top: 50%;
  content: '';
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  background: #fff;
  filter: blur(50px);
}

.wire {
  position: absolute;
  left: 50%;
  bottom: 80%;
  width: 4px;
  height: 20vh;
  top: 1vh;
  /* overflow: hidden; */
  background: #000;
}

/* -------------------------------------------------------------------- */

/* ---------------- BUTTONS ---------------------*/
.buttonMain {
  color: #1cc49d;
  left: calc(7%);
  top: 5vh;
  position: relative;
  background-color: #1b2f31;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  font-size: large;
  font-weight: 600;
  margin-left: calc(13.4%);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.buttonMain:hover {
  color: #fff;
}

.buttonMain .buttonMainspan {
  align-items: center;
  background: #0e0e10;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.buttonMain:hover {
  background: transparent;
}

/* ------------------------------------------------------------- */

/* ----------- LOADING BAR ------------------- */
.bodyBar {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
  top: 30vh;
  right: 45vh;
  position: relative;
}

.chart {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}
/* .chart span {
  margin-left: -409px;
  color: #fff;
  text-align: center;
  font-weight: bolder;
} */

.bar {
  animation: load 2.4s normal forwards;

  box-shadow: 0 10px 40px -10px #fff;

  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
    background-color: white;
  }
  /* 25% {
    width: 25%;
    background-color: lightblue;
  }
  50% {
    width: 50%;
    background-color: darkcyan;
  }
  75% {
    width: 75%;
    background-color: blue;
  } */
  100% {
    width: 100%;
    background-color: darkblue;
  }
}
