.mainBodyHome {
  /* background: rgb(34, 33, 33); */
  background: radial-gradient(rgb(97, 92, 92), rgb(8, 8, 8));
  justify-content: center;
  /* align-self: auto; */
  align-items: center;
  display: flex;
  min-height: 98vh;
}

/* body {
  background: radial-gradient(rgb(97, 92, 92), rgb(8, 8, 8));
  min-height: 98vh;
} */

.titleText {
  font-family: ADUMA;
  font-size: 120px;
  position: absolute;
  bottom: 480px;
  right: 190px;
  color: rgb(202, 64, 14);

  text-shadow: -8px -4px 0 #000, 1px -4px 0 #000, -1px 1px 0 #000,
    2px 2px 0 #000;

  opacity: 85%;
  user-select: none;
}

@font-face {
  font-family: 'TITLE';
  src: local('TITLE'), url(.././assets/Fonts/TitleFont.otf) format('opentype');
}

@font-face {
  font-family: 'ADUMA';
  src: local('ADUMA'), url(.././assets/Fonts/Adumu.ttf) format('truetype');
}

.imgbox {
  display: grid;
  /* height: 100%;
  width: 100%; */
}

/*
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin-top: -10px;
  opacity: 70%;
  border: 0px;
}
margin: auto
*/
.center-fit {
  /* max-width: 100%; */
  width: 178.3vh;
  max-height: 100vh;
  /* margin: auto; */
  position: absolute;
  border: 0px;
  margin-right: 0px;
  /* margin-top: -10px; */
  object-fit: fill;

  animation-duration: 8s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 1%;
  }

  to {
    margin-left: -2.5%;
  }
}

* {
  margin: 0;
  padding: 0;
}

.tempButton {
  position: fixed;
  top: 50%;
}
.bottomSector {
  height: 0;
  width: 981px;
  top: 643px;
  left: 0px;
  position: absolute;
  border-bottom: 75px solid #1a1717;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  opacity: 80%;
}

/* ::-webkit-scrollbar {
  width: 0px;
} */

.welcomeBackText {
  position: absolute;
  font-family: 'QTYPE';
  bottom: 140px;
  right: 200px;
  font-size: 45px;
  font-weight: bold;
  color: rgb(66, 65, 65);
  text-shadow: -1px -1px 0 #000, 0px -1px 0 #000, -1px 1px 0 #000,
    0px 0px 0 #000;
  user-select: none;
}

.usernameInput {
  position: absolute;
  padding: 5px;
  bottom: 96px;
  height: 30px;
  right: 142px;
  width: 350px;
  font-size: 30px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #1a1717;
  opacity: 80%;
  color: #ffffff;
  font-family: 'QTYPE';
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}

.usernameInput:focus {
  outline: none;
}

body {
  overflow-x: hidden;

  /* background-color: rgb(187, 211, 223); */
  /* background-color: rgb(190, 214, 221); */
  /* background-color: lightcoral; */
  /* background-color: rgb(190, 58, 58); */
  /* background-color: lightgreen; */
}

/* ---------------- BUTTONS ---------------------*/
.buttonMain {
  color: #1cc49d;
  bottom: 00px;
  position: relative;
  background-color: #1b2f31;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  font-size: large;
  font-weight: 600;
  margin-left: calc(13.4%);
  margin-right: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.buttonMain:hover {
  color: #fff;
}

.buttonMain .buttonMainspan {
  align-items: center;
  background: #0e0e10;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  /* transition: background 0.5s ease; */
  width: 100%;
}

.buttonMain:hover {
  background: transparent;
}

/* ------------------------------------------------------------- */

.dividerButton {
  font-family: 'QTYPEBOLD';
  font-size: 40px;
  position: absolute;
  bottom: 9px;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  text-shadow: 0px 1px 2px #000000;
  opacity: 100%;
  /* color: rgb(124, 124, 120); */
  /* color: rgb(203, 203, 203); */
  color: rgb(180, 180, 180);
  margin-left: 32px;
}

.campaignStartButton {
  left: 165px;
}

.sandboxStartButton {
  left: 435px;
}

.creditsButton {
  left: 675px;
}

.medalsButton {
  left: 885px;
}

.dividerButton:hover {
  /* color: rgb(124, 124, 120); */
  color: rgb(216, 216, 216);
}

@font-face {
  font-family: 'QTYPEBOLD';
  src: local('QTYPEBOLD'),
    url(../../src/assets/Fonts/boldText.otf) format('opentype');
}

.creditsDescription {
  font-family: 'QTYPE';
  color: white;
  /* position: absolute; */
  text-align: center;
  font-size: 20px;
  /* line-height: 75px; */
}

.creditsDescriptionContainer {
  width: 560px;
  height: 75px;
  top: 50px;
  left: 20px;
  position: absolute;
  background: #696969;
  opacity: 40%;
  backdrop-filter: blur(10px);
}

.creditsContainer {
  width: 563px;
  height: 35px;
  position: absolute;
  background: #696969;
  opacity: 70%;
  backdrop-filter: blur(10px);
}

.creditsInfoTag {
  font-family: 'QTYPE';
  color: white;
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  position: absolute;
  user-select: none;
}

.creditsText {
  font-family: 'QTYPE';
  color: white;
  /* margin-left: 120px; */
  position: absolute;
  left: 250px;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  user-select: none;
}
